:root {
  --fontColor: black;
  --bgColor: white;
  --tempIcon: orangered;
  --hazeIcon: rgb(127, 132, 132);
  --sandIcon: rgb(216, 187, 147);
}

body {
  background-color: var(--bgColor);
  color: var(--fontColor);
}